<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :input, rows: 15, placeholder: 'Feedbuzz: Enter your feedback ...' %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class: 'input' %>
  </div>
<% end %>
